@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager
@using X.PagedList;

@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;


@model IPagedList<Subcategory>
<h2 class="" style="margin-left:45%">
    <span class="fa fa-bullhorn"></span>
    Subcategorii
</h2>

<div class="row">
    @foreach (var product in Model)
    {
        var photoPath = "/images/" + (product.Picture ?? "img.png");
<div class="col-4">
    <div class="container-fluid text-center container-content">

        <div class="card mb-3">

            <div class="card-body">
                <h5 class="card-title">@product.Nume</h5>
                <img src="@photoPath" alt="Alternate Text" style="width: 200px; height: 200px" />
                <p class="card-text">
                    @product.Categories.CategoryName
                </p>

                @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
                {


<a asp-action="ListProducts" asp-controller="Product" asp-route-subcategory="@product.Nume" class="btn btn-outline-dark">
    <img src="https://img.icons8.com/ios/50/000000/details-pane.png" style="height:30px;width:30px" />
    Produse
</a> }
                else
                {

<a asp-action="ListProducts" asp-controller="Product" asp-route-subcategory="@product.Nume" class="btn btn-outline-dark">
    <img src="https://img.icons8.com/ios/50/000000/details-pane.png" style="height:30px;width:30px" />
    Produse
</a>}


            </div>
        </div>
    </div>
</div>}
    @Html.PagedListPager(Model, page => Url.Action("List", new { page }), new PagedListRenderOptions
    {
        DisplayLinkToIndividualPages = true,
        DisplayPageCountAndCurrentLocation = false,
        MaximumPageNumbersToDisplay = 100,
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
    })
</div>
